*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root{
    --bg-main: #0B0E12;
    --metro-red: #ce0e2d;
    --text-main: #FFFFFF;
    --text-secondary: #E6E6E6;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body{
    background: var(--bg-main);
    color: var(--text-main);
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
}

/* sections ----------------------------------------------------------------------- */
.section-title{
    position: relative;

    display: inline-block;

    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 50px;
}

.section-title::after{
    content: "";

    position: absolute;

    left: 50%;
    bottom: -2px;

    transform: translateX(-50%);

    width: 60px;
    height: 4px;

    background: var(--metro-red);

    border-radius: 999px;
}

/* Navbar ----------------------------------------------------------------------- */

.navbar{
    background: rgba(11,14,18,.6);
    backdrop-filter: blur(5px);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo img{
    height: 50px;
    width: auto;
    display: block;
}


.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-container{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
    color: rgba(11,14,18,.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hamburger menu ----------------------------------------------------------------------- */

.menu-toggle{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
}

/* Hero Section ----------------------------------------------------------------------- */

.hero{
    position: relative;

    min-height: 100vh;

    display: flex;
    align-items: center;

    padding: 0 8%;

    background-image: url("images/hero/NS07-1.png");
    background-size: cover;
    background-position: center;
}

.hero-overlay{
    position:absolute;
    inset:0;

    background: rgba(11,14,18,.6);
}

.hero-content{
    position: relative;
    z-index: 2;

    max-width: 650px;
    font-size: .8rem;
}

.hero-logo{
    width: 250px;
    max-width: 80%;
}

.hero-description{
    margin-top: 25px;

    font-size: 1rem;
    line-height: 1.6;

    color: #E6E6E6;
}

.hero-buttons{
    margin-top: 35px;

    display:flex;
    gap:16px;
}

.btn-primary{
    background: var(--metro-red);
    color:white;

    padding:15px 28px;
    border-radius:10px;

    text-decoration:none;
}

.btn-secondary{
    color:white;

    text-decoration:none;

    padding:15px 28px;

    border:1px solid rgba(255,255,255,.3);
    border-radius:10px;
}

/* Hover effects in bottons ----------------------------------------------------------------------- */
.btn-primary,
.btn-secondary{
    transition: .25s ease;
}
.btn-primary:hover{
    transform: translateY(-2px);
}
.btn-secondary:hover{
    background: rgba(255,255,255,.08);
}

/* Projects Section ----------------------------------------------------------------------- */
.projects{
    padding: 25px 25px;
}

.projects-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align:center;
}

.projects-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:24px;
}
.project-card:hover{
    transform: translateY(-5px);
}

.project-card{
    background: #12171D;
    border-radius: 12px;
    padding: 0;
    transition: .25s ease;
    border-radius:10px;
    overflow:hidden;

    display:flex;
    flex-direction:column;
}

.project-image{
    width:100%;
    height:180px;
    object-fit:cover;
    display:block;
}

.project-content{
    padding:16px;
    flex:1;
}

.project-type{
    color: var(--metro-red);
    font-size: .8rem;
    font-weight: 600;
}

.project-card h3{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 4px;
}

.project-card p{
    color: var(--text-secondary);

    font-size: .85rem;
    line-height: 1.5;

    margin-top: 14px;

}

.project-button{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:auto;
    padding:12px 16px;

    background:var(--metro-red);
    color:white;

    text-decoration:none;

    font-size:.9rem;
    font-weight:500;
}

.project-button span{
    font-size:1.2rem;
}

/* Status Section ----------------------------------------------------------------------- */

.status-description{
    max-width:700px;
    margin:0 auto 60px;
    text-align: center;
    color:var(--text-secondary);
    line-height:1.6;
}

.status-timeline{
    position:relative;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    max-width:1000px;
    margin: 0px auto 60px;
}

.status-timeline::before{
    content:"";

    position:absolute;
    top:30px;
    left:0;
    right:0;

    height:4px;
    border-radius:2px;

    background:#D9D9D9;
}

.status-progress{
    position:absolute;

    top:30px;
    left:0;

    height:4px;
    width:0;

    background:var(--metro-red);

    border-radius:2px;

    z-index:1;

    transition:width 1.2s ease;
}

.status-item{
    position:relative;
    z-index:2;

    width:160px;
    text-align:center;
    
}

.status-icon{
    width:60px;
    height:60px;

    margin:0 auto 20px;

    border-radius:50%;
    background:var(--metro-red);

    display:flex;
    align-items:center;
    justify-content:center;
}

.status-icon img{
    width:28px;
    height:28px;
}

.status-item.pending .status-icon{
    background:#3f3d3d;
}

.status-item.completed .status-icon{
    background: var(--metro-red);
}

.status-item h3{
    font-size:1rem;
    margin-bottom:10px;
}

.status-item p{
    color:var(--text-secondary);
}

/* Distribution Section ----------------------------------------------------------------------- */

.distribution-container{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: left;
}

.distribution-container h2{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.distribution-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    align-items: center;
    margin-top: 40px;
}

.distribution-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.distribution-info {
    color: #fff;
}

.distribution-info p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #c7c7c7;
}

.distribution-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.distribution-info li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 18px;
}

.distribution-info li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--metro-red);
}

.distribution-info button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: var(--text-secondary);
    color: #555;
    font-weight: 600;
    cursor: not-allowed;
}

/* Collaborations Section ------------------------------------------------------- */

.collaborations{
    margin-top: 25px;
    position: relative;

    padding: 140px 8%;

    background-image: url("images/collaborations/background.jpg");
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.collaborations h2{
    position: relative;
    text-align: left;
}

.collaborations .section-title::after{
    left: 0;
    transform: none;
}

.collaborations-overlay{
    position: absolute;
    inset: 0;

    background: rgba(11,14,18,.65);
}

.collaborations-container{
    position: relative;
    z-index: 2;

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.collaborations-content{
    max-width: 550px;
}

.collaborations .section-title{
    margin-bottom: 25px;
}

.collaborations p{
    color: var(--text-secondary);
    line-height: 1.6;
}

/* Contact Card ------------------------------------------------------- */

.contact-card{
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: 40px;
    padding: 20px;

    width: fit-content;

    text-decoration: none;
    color: inherit;

    background: rgba(10,12,16,.95);
    border-radius: 16px;

    transition: .25s ease;
}

.contact-card:hover{
    transform: translateY(-3px);
}

.contact-icon{
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;

    background: var(--metro-red);
}

.contact-icon img{
    width: 32px;
    height: 32px;
}

.contact-info h3{
    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 6px;
}

.contact-info p{
    font-size: .85rem;
    color: var(--text-secondary);
}


/* Footer ------------------------------------------------------- */

.footer{
    background: #0d1117;
    border-top: 1px solid rgba(255,255,255,.08);

    padding: 50px 0;
}

.footer-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.footer-brand img{
    height: 80px;
    width: auto;
}

.footer-info{
    text-align: center;
    color: var(--text-secondary);
}

.footer-info p{
    margin: 4px 0;
}

.footer-socials{
    display: flex;
    gap: 12px;
}

.footer-socials a{
    width: 56px;
    height: 56px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 12px;
    
    background: rgba(255,255,255,.05);

    text-decoration: none;

    transition: .25s ease;
}

.footer-socials a:hover{
    background: var(--metro-red);
    transform: translateY(-2px);
}

.footer-socials img{
    width: 28px;
    height: 28px;
}


/* MOBILE ----------------------------------------------------------------------- */
/* Navbar Mobile ----------------------------------- */
@media (max-width: 768px){

    /* Navbar */

    .logo img{
        height: 45px;
    }

    .menu-toggle{
        display:block;
        margin-left:auto;
    }

    .navbar-container{
        width:95%;
        display:flex;
        align-items:center;
    }

    .nav-links{
    position: absolute;
    top: 80px;
    left: 0;

    width: 100%;

    border-top: 1px solid rgba(255,255,255,.08);

    background: rgba(11, 14, 18, 0.87);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    pointer-events: none;

    overflow: hidden;

    max-height: 0;
    padding: 0;

    opacity: 0;

    transition:
        max-height .4s ease,
        opacity .3s ease,
        padding .3s ease;
}

    .nav-links.active{
    max-height: 400px;
    padding: 30px 0;

    opacity: 1;
    pointer-events: auto;
}

    /* Hero */

    .hero{
        padding: 0 5%;
    }

    .hero-logo{
        display: block;
        margin: 0 auto;
    }

    .hero-content{
        max-width: 100%;
        text-align: center;
    }

    .hero-buttons{
        justify-content: center;
    }

    /* Projects */

    .projects-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card:hover{
    transform: translateY(0);
    }

    /* Status ----------------------------------------------------------------------- */

    .status-timeline::before{
        content:"";

        position:absolute;

        top:30px;
        bottom:30px;

        left:30px;

        right:auto;
        width:4px;
        height:auto;

        background: #D9D9D9;

        border-radius:999px;
    }

    .status-progress{
    position:absolute;

    top:30px;
    left:30px;

    width:4px;
    height:0;

    background:var(--metro-red);

    border-radius:999px;

    z-index:0;
}

    .status-timeline{
        position: relative;

        display: flex;
        flex-direction: column;

        gap: 30px;
    }

    .status-item{
        position: relative;
        z-index: 1;

        width: 100%;

        display: flex;
        align-items: flex-start;
        gap: 18px;

        text-align: left;
    }

    .status-icon{
        margin: 0;
        flex-shrink: 0;
    }

    .status-content{
        display:flex;
        flex-direction:column;

        padding-top:4px;
    }

    .status-content h3{
        margin-bottom: 6px;
    }

.status-content p{
    color: var(--text-secondary);
}


    /* Distribution */
        .distribution-content{
        grid-template-columns: 1fr;
    }

    .distribution-image img{
        height: 180px;
    }

    /* Collabs */
    .collaborations{
        padding: 80px 0;
    }

    .contact-card{
        width: 100%;
    }

    /* distribution */
        .distribution-content{
        grid-template-columns: 1fr;
    }

    /* Footer */
        .footer-container{
    flex-direction:column;
}

/* END MOBILE ----------------------------------------------------------------------- */
}